* {
    margin: 0;
    padding: 0;
    font-family: 'Square Peg', cursive;
    font-size: 22px;
    letter-spacing: 2px;
}
.wrapper {
    width: 100vw;
    height: 100vh;
}
button {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
}
button:focus {
    outline: 1px dotted grey;
}
.app {
    
}
.app__header {
    padding: 20px 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.app__add-list {
    width: 150px;
    height: 100%;
}
.app__clock {
    
    border: 1px solid red;
    flex-direction: column;
    justify-content: space-between;
}
.app__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.app__add-list {
    text-transform: capitalize;
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.app__add-list::before {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    content: '+';
    text-align: center;
    line-height: 26px;
    font-size: 32px;
    border: 1px solid grey;
}